body {
    font-family: 'Hind Siliguri', sans-serif;
}
.timer {
    display: flex;
    width: 290px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border: 2px solid black;
    border-radius: 2px;

}
.field:not(:last-child) {
    margin-right: 8px;
}
.label,
.value {
    color: white;
}